body, div, span, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: sans-serif;
    list-style: none;
    display: block;
    background: transparent;
    outline: 0;
    transition: 0.1s;
}

html {
    height: 100%;
}

body {
    height: 100%;
    /* flex rules*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form {
    display: flex;
    color: white;
    margin: 20px;
}

.subscribe-form aside {
    order: 1;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #ff8800;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-form input {
    order: 2;
    height: 36px;
    border-top: 2px solid #ff8800;
    border-bottom: 2px solid #ff8800;
}

.subscribe-form div {
    order: 3;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    background-color: #ff8800;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subscribe-form input {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.subscribe-form.subscribing input {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.subscribe-form.subscribed input {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}